# source
**/*.ts
*.ts
**/*.md

# definitions
!README.md
!**/*.d.ts
!*.d.ts

# configuration
jsdocs-json.json
yarn-lock.json
package-lock.json
tslint.json
tsconfig.json
.prettierrc
.nycrc
.editorconfig
Jenkinsfile
.travis.yml
codecov.yml
.yarnrc.yml

__test__
benchmark
docs
jest.config.js
node_modules
.github
coverage
reports
.nyc_output
.idea
tasks
gulpfile.js
jest.config.js
jsdocs.json
tools
.yarn
.circleci
